---
layout: default
title: "Home"
---

<article>
  My name is Zanqi. I'm a student in the [Computer Science Department](https://www.cs.washington.edu/) of the University of Washington. I am researching in the [Robotic Manipulation Lab](https://robotic-manipulation.sciencehub.uw.edu/).

  Here you will find some of my learning over time. I think building and deriving from scratch is the best way to learn. I hope this blog will help you in your learning journey too.
</article>



{% if site.show_excerpts %}
  {% include home.html %}
{% else %}
  {% include archive.html title="Posts" %}
{% endif %}
